/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
html{
   scroll-behavior: smooth;
   padding: 0px 70px;
   font-family: "Open Sans",sans-serif;
}
body{
   overflow-x: hidden;
}
/* custom scroll bar */
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: #888;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/* Navbar (MenuBar) */
.navbar{
   position: fixed;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   z-index: 999;
   height: max-content;
   padding: 25px 70px;
   transition: all 0.3s ease;
   /* background-color: #008080; */
   margin-left: -70px;
}
/* .navbar.sticky{
   padding: 15px 0;
   background: #1a7da0;
}
.navbar.sticky:hover{
   padding: 17px 0;
} */
.navbar .max-width{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar .menu-ico{
   list-style-type: none;
}
.navbar .menu-ico li{
   display: inline;
   margin-left: 13px;
}
.navbar .menu-ico li a{
   padding: 14px 9px 6px 9px;
   border-radius: 5px;
   transition: ease 0.25s all;
   fill: #000;
}
.navbar .menu-ico li a:hover{
   background-color: #ea1538;
   fill: #fff;
}
.navbar .menu-ico #menu-ico-yt{
   margin-top: 100px;
}
.navbar #menu{
   margin: auto;
   margin-left: 430px;
}
.navbar #menu li{
   list-style: none;
   display: inline;
}
.navbar #menu li .menu-list-btn{
   color: #000;
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 5px 15px;
   transition: color 0.3s ease;
}
.navbar #menu li .menu-list-btn,
.navbar #menu li .menu-list-btn:after,
.navbar #menu li .menu-list-btn:before {
   transition: all .5s;
}
/* .navbar #menu li .menu-list-btn:hover {
   color: black;
} */
.navbar.stroke #menu li .menu-list-btn{
   position: relative;
}
.navbar.stroke #menu li .menu-list-btn:after{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 0%;
   content: '.';
   color: transparent;
   background: #ea1538;
   height: 1px;
}
.navbar.stroke #menu li .menu-list-btn:hover:after {
   width: 80%;
   height: 2px;
}

/* First Page */
.home{
   width: 100%;
   position: absolute;
   text-align: justify;
   margin-top: 80px;
   font-family: 'Montserrat', sans-serif;
}
.home-pic{
   width: calc(50%-50x);
}
.home .home-pic img{
   width: 40%;
   display: flex;
   margin-top: -20px;
   float: left;
}
.home-content{
   display: inline;
   float: left;
   width: 50%;
   padding-left: 65px;
   margin-top: 100px;
}
.home .home-content .home-scale{
   font-weight: 600;
   margin-top: 10px;
   letter-spacing: 0.5px;
}
.home .home-head{
   font-size: 35px;
   margin-top: 5px;
   margin-bottom: 15px;
   text-transform: uppercase;
}
.home .home-content .home-txt{
   width: 80%;
   line-height: 21.5px;
   letter-spacing: 0.5px;
}
.home .home-content div{
   margin-top: 35px;
}
.home .home-content div a{
   padding: 15px 30px;
   border-radius: 30px;
   font-size: 17px;
   font-weight: 700;
   cursor:pointer; 
   clear: both;
   border-radius: 7px;
   display: inline-block;
   transition: all 0.8s, color 0.3s 0.3s;
   background: #ea1538;
   color: #fff;
}
.home .home-content div a:hover{
   box-shadow:300px 0 0 0 rgba(0,0,0,0.5) inset;
}

/* HOW WE WORK? */
.how-we-work{
   width: 100%;
   height: 100%;
   position: absolute;
   margin-top: 550px;
   display: flex;
   float: left;
   align-items: center;
}
.how-we-work .card{
   box-shadow: 0 0 10px lightgray;
   background-color: #555;
   width: 25%;
   height: 325px;
   line-height: 20px;
   padding: 30px 40px;
   margin-left: 50px;
   border-radius: 16px;
   text-align: center;
   transition: all ease 0.5s;
   color: #fff;
}
.how-we-work .card svg{
   fill: #fff;
}
.how-we-work .card h3{
   font-family: 'Montserrat', sans-serif;
   line-height: 21px;
   margin-top: 20px;
   padding: 2px;
   border-bottom: 2px solid #ea1538;
   transition: all ease 0.5s;
   border-radius: 2px;
}
.how-we-work .card p{
   margin-top: 10px;
   font-family: Poppins,sans-serif;
}
.how-we-work .card:hover{
   background-color: #ea1538;
}
.how-we-work .card:hover h3{
   border-bottom: 2px solid #fff;
}

/* OUR LATEST WORK */
/* .works{
   width: 89%;
   height: 100%;
   position: absolute;
   margin-top: 1100px;
   text-align: center;
}

.works-head{
   font-size: 30px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   text-decoration: underline;
   margin-bottom: 30px;
   margin-top: 100px;
}
.reels{
   width: 270px;
   height: 400px;
   background-color: #ea1538;
   margin: 10px;
   border-radius: 4px;
   display: flex;
   float: left;
}
.square{
   width: 190px;
   height: 190px;
   margin: 10px;
   margin-left: 300px;
   background-color: #ea1538;
   border-radius: 4px;
}
.square1{
   width: 180px;
   height: 180px;
   margin: 10px;
   background-color: #ea1538;
   border-radius: 4px;
} */